---
layout: page
---
<span class="cytoscape-badge"></span>
<br /><br />
<section>
    {{ content }}
</section>

<div id="apps" list="{{page.apps}}"></div>

<script>
var inCybrowser = false;

$(document).ready(async function(){
    await cyBrowserCheck();
    await cyBadge();
    cyApps();
});

function cyApps() {
    if (cyversion != null){
        var appListDiv = $("#apps")[0];
        var appList = appListDiv.getAttribute("list");
        var appListItems = appList.split(/,\s*/);
        for (let i in appListItems){
            window.onload = console.log('TODO: Install apps: '+ appListItems[i]);
        }
    }
}

function cyBrowserCheck() {
    if(!window.navigator.userAgent.includes('CyBrowser')){
		var divs = document.getElementsByClassName("cybrowser")
		for (var i=0;i<divs.length;i++){
			divs[i].style.display = "none";
		}
	} else {
        inCybrowser = true;
		var divs = document.getElementsByClassName("not-cybrowser")
		for (var i=0;i<divs.length;i++){
			divs[i].style.display = "none";
		}
	}
}

</script>